<%# <title><%= Rails.configuration.application_name %></title>
<title>Attendance System</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="https://images.squarespace-cdn.com/content/5760269145bf21440773e26c/1466608750095-GUZ91X7EVDFBYWZBGACL/fav.ico?content-type=image%2Fpng" rel="icon" type="image/x-icon" />

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
