


<div class="row">
  <div class="col-sm-6">
    <h1>Lessons</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_lesson_path, class: 'btn btn-primary' do %>
    Add New Lesson
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>


            <th>Date</th>
            <th>Subject</th>
            <th>Description</th>
            <th>User</th>
            <th>Course</th>
            <th>Lesson status</th>

          <th></th>

      </tr>
    </thead>

    <tbody>
      <% @lessons.each do |lesson| %>
        <%= content_tag :tr, id: dom_id(lesson), class: dom_class(lesson) do %>


                      <td><%= lesson.date %></td>
                      <td><%= lesson.subject %></td>
                      <td><%= lesson.description %></td>
                      <td><%= lesson.user.name %></td>
                      <td><%= lesson.course.name %></td>
                      <td><%= lesson.lesson_status.name %></td>


            <td><%= link_to 'Show', lesson %></td>

        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<div id='calendar'></div>
<%= render 'modal' %>
<script>
  $('#calendar').fullCalendar({
    // put your options and callbacks here
    header: { center: 'month,agendaWeek,listWeek' }, // buttons for switching between views

    views: {
      month: { // name of view
        titleFormat: 'YYYY, MM, DD',
        // other view-specific options here
      }
    },

    events: <%= raw @lessons_calendar.to_json %>,
    <% if current_user.teacher? or current_user.student? %>
      editable: false
    <% elsif current_user.office? || current_user.admin? %>
      editable: true
    <% end %>,

    eventClick: function( event, jsEvent, view ) {
      <% if current_user.teacher? or current_user.student? %>
      console.log(event);
      $.ajax({
        url: '/lessons/' + event.id,
        type: 'GET',
        dataType: 'script',
      })
      .done(function() {
        console.log("success");
      })
      .fail(function() {
        console.log("error");
      })
      .always(function() {
        console.log("complete");
      });
      <% end %>
    },

    eventClick: function( event, jsEvent, view ) {
      <% if current_user.office? || current_user.admin? %>
      console.log(event);
      $.ajax({
        url: '/lessons/' + event.id + '/edit/',
        type: 'GET',
        dataType: 'script',
      })
      .done(function() {
        console.log("success");
      })
      .fail(function() {
        console.log("error");
      })
      .always(function() {
        console.log("complete");
      });
      <% end %>
    },

    eventDrop: function(event, delta, revertFunc) {

      alert(event.title + " was moved to " + event.start.format());

      console.log(event.start.format());
      $.ajax({

        url: '/lessons/' + event.id,
        type: 'PATCH',
        dataType: 'script',
        data: {lesson: {date: event.start.format()},
        authenticity_token: "<%= form_authenticity_token %>"
      }
      })
      .done(function() {
        console.log("success");
      })
      .fail(function() {
        console.log("error");
      })
      .always(function() {
        console.log("complete");
      });

    },

  })
</script>
