<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :course_level_id %>
    <%= form.collection_select :course_level_id, CourseLevel.all, :id, :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :course_status_id %>
    <%= form.collection_select :course_status_id, CourseStatus.all, :id, :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Teacher" %>
    <%= form.collection_select :teachers, User.where(role: :teacher), :id, :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Student" %>
    <%= form.collection_select :students, User.where(role: :student), :id, :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :meetingDay %>
    <%= form.text_field :meetingDay, class: 'form-control' %>
  </div>

<!-- Selecting times with flatpicker -->
  <div class="form-group">
    <%= form.label :start_time %>
    <%= form.text_field :start_time, data: { behavior: "flatpickr-time"} %>
  </div>

  <div class="form-group">
    <%= form.label :end_time %>
    <%= form.text_field :end_time, data: { behavior: "flatpickr-time"} %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :info %>
    <%= form.text_area :info, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if course.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', course, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if course.persisted? %>
      <%= link_to "Cancel", course, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", courses_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
