


<div class="row">
  <div class="col-sm-6">
    <h1>Courses</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_course_path, class: 'btn btn-primary' do %>
    Add New Course
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

        <th>Name</th>


            <th>Course level</th>
            <th>Course teacher</th>
            <th>Course status</th>
            <th>Meetingday</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Address</th>
            <th>Info</th>

      </tr>
    </thead>

    <tbody>
      <% @courses.each do |course| %>
        <%= content_tag :tr, id: dom_id(course), class: dom_class(course) do %>

            <td><%= link_to course.name, course %></td>


                      <td><%= course.course_level.name %></td>
                      <!-- falta agregar acá la forma de mostar el profe del curso -->
                      <td><%= display_teachers(course.teachers) %></td>
                      <td><%= course.course_status.name %></td>
                      <td><%= course.meetingDay %></td>
                      <td><%= course.start_time %></td>
                      <td><%= course.end_time %></td>
                      <td><%= course.address %></td>
                      <td><%= course.info %></td>


        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
