<div class="page-header">
  <%= link_to courses_path, class: 'btn btn-default' do %>
  Go back to all courses
  <% end %>
  <%= link_to edit_course_path(@course), class: 'btn btn-primary' do %>
  Edit this course
  <% end %>
  <h4 align="center">Course Details</h4>
  <br>
</div>

<div class="container">
  <div class="row">
    <div class="col-md">

      <dl class="dl-horizontal">
        <dt>Name:</dt>
        <dd><%= @course.name %></dd>

        <dt>Course level:</dt>
        <dd><%= @course.course_level.code %> - <%= @course.course_level.name %></dd>

        <dt>Course status:</dt>
        <dd><%= @course.course_status.name %></dd>

        <dt>Course teacher:</dt>
        <dd ><%= @course.teachers %> </dd>

        <dt>Course student:</dt>
        <dd ><%= @course.students %> </dd>

        <dt>Meetingday:</dt>
        <dd><%= @course.meetingDay %></dd>

        <!-- time format -->
        <dt>Start time:</dt>
        <dd><%= @course.start_time.strftime("%I:%M %p") %> (or <%= @course.start_time.strftime("%k:%M") %>)</dd>

        <dt>End time:</dt>
        <dd><%= @course.end_time.strftime("%I:%M %p") %> (or <%= @course.end_time.strftime("%k:%M") %>)</dd>

        <dt>Address:</dt>
        <dd><%= @course.address %></dd>

        <dt>Info:</dt>
        <dd><%= @course.info %></dd>

      </dl>

    </div>

    <div class="col-md-6">

      <!-- <p>We should display here the lessons (N° and date) to take attendance, and leave comments for each lesson</p> -->

      <dl class="dl-horizontal">
        <tbody>
          <p><b>Lessons list:
            <span> <button type class="btn btn-outline-info btn-sm float-right"><%= link_to "Add new lesson", new_lesson_path %></button> </span></p>

            <% @lessons.each do |lesson| %>
            <%= content_tag :tr, id: dom_id(lesson), class: dom_class(lesson) do %>
            <div class="list-group p-1">
              <ol class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <p class="mb-1">Class N°: <%= lesson.subject %></p>
                  <small>Date: <%=lesson.date.strftime("%A, %d/%m/%Y") %></small>
                </div>
                <h6>Subject: <%=lesson.description %></h6>
                <small>Class status: <%=lesson.lesson_status.name %></small>
                <br>
                <small><%=link_to "See details", lesson %></small>
              </ol>
            </div>
            <% end %>
            <% end %>
          </tbody>
        </dl>

      </div>

      <div class="col-md">

        <p>We should display here the lessons (N° and date) to take attendance, and leave comments for each lesson</p>

      </div>

    </div>

  </div>
