


<div class="row">
  <div class="col-sm-6">
    <h1>Attendances</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_attendance_path, class: 'btn btn-primary' do %>
    Add New Attendance
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>User</th>
            <th>Lesson</th>
            <th>Lesson status</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @attendances.each do |attendance| %>
        <%= content_tag :tr, id: dom_id(attendance), class: dom_class(attendance) do %>
          

                      <td><%= attendance.user %></td>
                      <td><%= attendance.lesson %></td>
                      <td><%= attendance.lesson_status %></td>
          
          
            <td><%= link_to 'Show', attendance %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
